[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-telegram-bot = "*"
goslate = "*"
python-dotenv = "*"
pytelegrambotapi = "*"
telethon = "*"
flask-apscheduler = "*"
stripe = "*"
pyshorteners = "*"

[dev-packages]

[requires]
python_version = "3.10"
