[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
stripe = "*"
pyshorteners = "*"
flask = "*"
telethon = "*"
pytelegrambotapi = "*"
python-telegram-bot = "*"
goslate = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
